main {width: 100%; display: flex; align-items: center; justify-content:center;}
  article {width: 100%; min-height: calc(100vh - 149px); margin: auto; background-color: rgba(244,241,237,0.8);}
    article h1, article h2, article h3, article h4, article h5, article h6, article p {color: rgba(3,2,4,1);
}
.bookmark div {margin: 0;}
  .bookmark input[type="checkbox"] {/*隐藏复选框*/display: none;}
  .bookmark input:checked + div {/*隐藏div初始化*/display: none;}
  .bookmark label {/*控制标签*/
    margin: 0;
    display: block;
    color:rgba(243,215,55,1);
    background-color: rgba(3,2,4,0.6);
    border-bottom: 1px solid rgba(130,36,30,1);
    cursor: pointer;
    font-size: 1.25rem;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 1rem;}
  .bookmark .content {    
    background-color: rgba(244,241,237,0);
    width: 100%; 
    display: flex;
    flex-wrap: wrap;}
  .bookmark .content span {
    margin: 6px;
    padding: 6px;    
    color: rgba(244,241,237,1);
    background-color: rgba(37,86,122,1);}
  .bookmark .content a {/*列标签*/
    display:inline-block;
    text-decoration: none;
    color: rgba(3,2,4,1);
    margin: 6px;
    padding: 6px;    
    border-left: 1px solid rgba(37,86,122,1);
    min-width: 120px;
}/* main.bookmark书签专属 */
.unit article > * {margin-left: 1rem; margin-right: 1rem;}
  .unit article section {padding-left: 1rem; padding-right: 1rem;}
  .unit article h6 {margin-top: 3px; margin-bottom: 3px;}
  .unit code {
    color: rgba(244,241,237,1);
    overflow: auto;
    background-color: rgba(3,2,4,1);
    display: block;
    max-height: 38.2vh;
} /* main.unit信息专属 */
.base article > * {margin-left: 1rem; margin-right: 1rem;}
  .base article section {padding-left: 1rem; padding-right: 1rem;}
  .base h1 {text-align: center;
}/* main.base基础专属 */
.homepage article > * {margin-left: 1rem; margin-right: 1rem;}
  .homepage h1 {text-align: center;}
  .homepage table td + td {width: 100%;}
  .homepage table td {
    color: rgba(244,241,237,1);
    background-color: rgba(37,86,122,1);
    padding-top: 3px;
    padding-bottom: 3px;}  
    .homepage table a {
    text-decoration: none;
    color: rgba(244,241,237,1);
}/* main.homepage目录专属 */

.abc div {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;}
.abc input[type="checkbox"] {/*隐藏复选框*/display: none;}
  .abc input:checked + div {/*隐藏div初始化*/display: none;}
  .abc label {/*控制标签*/
    margin: 0;
    display: block;
    color:rgba(243,215,55,1);
    background-color: rgba(3,2,4,0.6);
    border-bottom: 1px solid rgba(130,36,30,1);
    cursor: pointer;
    font-size: 1.25rem;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 1rem;}
  .abc .content1 {    
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(244,241,237,0);}
    .abc .content1 > * {width: 100%;}
  .abc .content2 {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(244,241,237,0);}
    .abc .content2 > * {width: 50%;}
  .abc .content4 {    
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(244,241,237,0);}
    .abc .content4 > * {width: 25%;}
    .abc a {
      text-decoration: none;
      color: rgba(3,2,4,1);
      display:inline-block;
      /* border-left: 1px solid rgba(37,86,122,1); */
    }/*列标签*/
    .abc span { 
      color: rgba(244,241,237,1);
      background-color: rgba(37,86,122,1);
      
}
